Source: agilent33220a
Section: libs
Priority: optional
Maintainer: Martin Konrad <konrad@frib.msu.edu>
Build-Depends: debhelper (>=9), epics-debhelper (>= 8.14~),
               epics-dev
Standards-Version: 3.9.6
Homepage: http://controls.diamond.ac.uk/downloads/support/agilent33220A/
Vcs-Git: https://github.com/epicsdeb/agilent33220A.git
Vcs-Browser: https://github.com/epicsdeb/agilent33220A

Package: agilent33220a-dev
Section: libdevel
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${epics:Depends}, epics-stream-dev
Description: EPICS support for Agilent 33220A
 Stream Device support for Agilent 33220A arbitrary waveform generator.
